# 1. Pandas란?
## pandas 사용하기

In [37]:

import numpy as np 
import pandas as pd 

pd.__version__

'1.0.1'

# 2.Pandas 자료구조
## "Series"와 "Data Frame" 
## 2-1 Series

In [22]:
import numpy as np 
import pandas as pd 

# Series 정의

obj = pd.Series([4,7,-5,3])
print(obj)

#값, 인덱스, 타입 확인
print(obj.values)
print(obj.index)
print(obj.dtypes)

obj2 = pd.Series([4,7,-5,3],index=['d','b','a','c'])
print(obj2)

#dictionay -> Series data
#key -> idx
#value -> value

sdata = {'Kim':35000, "Daehan":67000, 'Taewoo':12000,'Donghyun':4000}
obj3 = pd.Series(sdata)
print(obj3)

obj3.index = ['A','B','C','D']
print(obj3)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)
int64
d    4
b    7
a   -5
c    3
dtype: int64
Kim         35000
Daehan      67000
Taewoo      12000
Donghyun     4000
dtype: int64
A    35000
B    67000
C    12000
D     4000
dtype: int64

## 2.2 Data Frame

In [35]:
import pandas as pd
import numpy as np


data = {'name':['Daehan','Taewoo','Donghyun','Kim','Smallstone'],'year':[2013,2014,2015,2016,2017],'points':[1.5,1.7,3.6,2.4,2.9]}
df = pd.DataFrame(data)
print(df)
print("\n")
print("df.index:",df.index)
print("df.colums:",df.columns)
print("df.values:\n",df.values)
print("\n")
# 이름 설정
df.index.name='Num'
df.columns.name="Info"
print(df)
print("\n")
#DataFrame에 columms, index 설정 

df2 = pd.DataFrame(data,columns=['year','name','points','penalty'],index=['one','two','three','four','five'])
print(df2)
print("\n")

name  year  points
0      Daehan  2013     1.5
1      Taewoo  2014     1.7
2    Donghyun  2015     3.6
3         Kim  2016     2.4
4  Smallstone  2017     2.9


df.index: RangeIndex(start=0, stop=5, step=1)
df.colums: Index(['name', 'year', 'points'], dtype='object')
df.values:
 [['Daehan' 2013 1.5]
 ['Taewoo' 2014 1.7]
 ['Donghyun' 2015 3.6]
 ['Kim' 2016 2.4]
 ['Smallstone' 2017 2.9]]


Info        name  year  points
Num
0         Daehan  2013     1.5
1         Taewoo  2014     1.7
2       Donghyun  2015     3.6
3            Kim  2016     2.4
4     Smallstone  2017     2.9


       year        name  points penalty
one    2013      Daehan     1.5     NaN
two    2014      Taewoo     1.7     NaN
three  2015    Donghyun     3.6     NaN
four   2016         Kim     2.4     NaN
five   2017  Smallstone     2.9     NaN

### DataFrame에 딕셔너리 값 입력시
### 딕셔너리와 columms의 순서가 달라도 알아서 정의됨
### 값이 없으면 NaN

In [36]:
# describe() 함수는 DataFrame의 계산 가능한 값들에 대한 다양한 계산 보여줌
df2.describe()

              year    points
count     5.000000  5.000000
mean   2015.000000  2.420000
std       1.581139  0.864292
min    2013.000000  1.500000
25%    2014.000000  1.700000
50%    2015.000000  2.400000
75%    2016.000000  2.900000
max    2017.000000  3.600000

# 3. DataFrame Indexing

In [49]:
import pandas as pd 
import numpy as np 

data = {'names':['Daehan','Kim','Taewoo','Donghyun','Smallstone'],'year':[2014,2015,2016,2015,2017],'points':[1.5,1.7,3.6,2.4,2.9]}
df = pd.DataFrame(data,columns=['year','names','points','penalty'],index=['one','two','three','four','five'])
df

       year       names  points penalty
one    2014      Daehan     1.5     NaN
two    2015         Kim     1.7     NaN
three  2016      Taewoo     3.6     NaN
four   2015    Donghyun     2.4     NaN
five   2017  Smallstone     2.9     NaN